# 3D models
*.3dm                   lfs
*.3ds                   lfs
*.blend*                lfs
*.c4d                   lfs
*.collada               lfs
*.dae                   lfs
*.dxf                   lfs

# Visual Studio solution files
*.sln                   text eol=crlf